{% extends 'base.html' %}
{% block content %}
<title>{{ title }}</title>
<p><h1>Моя страница</h1></p>

{% if profile.avatar %}
                    <div><p><img class="img-article-left thumb" src="{{ profile.avatar.url }}"></p></div>
{% else %}
                    <div><img src="/static/images/profile_121261.png" width="150" height="80"></div>
{% endif %}


                   <h3>{{ user.first_name }} {{ user.last_name }}</h3>


                    <p><b>Email:</b> {{ user.email }}</p>

                    <p><b>Город:</b> {{ profile.city }}</p>

                    <p><b>Дата рождения:</b> {{ profile.birth_date|date:"d M Y" }}</p>

                    <p><b>Пол:</b> {{ profile.get_gender_display }}</p>

                    <p><b>Статус отношений:</b> {{ profile.get_relationship_display }}</p>

                    <p><b>О себе:</b>{{ profile.bio|linebreaks }}</p>

                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}