{% extends 'base.html' %}
{% block content %}
<title>{{ title }}</title>

{% if profile.avatar %}
                    <div><p><img class="img-article-left thumb" src="{{ profile.avatar.url }}"></p></div>
{% else %}
                    <div><img src="/static/images/profile_121261.png" width="150" height="80"></div>
{% endif %}

                   <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>


                    <p><b>Email:</b> {{ user.email }}</p>
{% if profile.city != None %}
                    <p><b>Город:</b> {{ profile.city }}</p>
{% else %}
                    <p><b>Город:</b> Не выбрано</p>
{% endif %}
{% if profile.birth_date != None %}
                    <p><b>Дата рождения:</b> {{ profile.birth_date|date:"d M Y" }}</p>
{% else %}
                    <p><b>Дата рождения:</b> Не выбрано</p>
{% endif %}
                    <p><b>Пол:</b> {{ profile.get_gender_display }}</p>

                    <p><b>Статус отношений:</b> {{ profile.get_relationship_display }}</p>

{% if profile.bio != None %}
                    <p><b>О себе:</b>{{ profile.bio|linebreaks }}</p>
{% endif %}

                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}