{% extends "base.html" %}

{% block content %}

<title>{{ title }}</title>
<h1>О сайте</h1>

<ul><p class="main">
Планировщик сбытий станет незаменимым помощником для пользователей любых возрастов и социальных статусов! От подростка-до пенсионера, от школьника – до директора, эта программа готова поддержать вас при самом напряженном распорядке дня.

Незаменимое сочетание календаря, ежедневника, планировщика, блокнота и напоминаний делает планер «Мои дела» уникальным и массово востребованным приложением. Уже более двух миллионов людей по всему миру составляют свои цели, планы и списки задач, используя этот простой и удобный органайзер, находя время на отдых и личную жизнь.

Ежедневник «Мои Дела» обладает удобным интерфейсом, с которым легко контролировать как текущий день, так и рабочую неделю одновременно. Для этого главный экран приложения специально разработан в виде рабочей недели (пн.-вс.), где легко планировать список задач и переносить запланированные дела на более удобное время.

Основные возможности приложения:

- планирование задач на день
- составление списка дел на текущую неделю
- планирование повторяющихся задач
- перенос списка дел
- копирование списка задач
- отправка списка дел
- перемещение записей
- создание напоминаний
- контроль личной эффективности
- заметки
- голосовой ввод
- поиск
- уведомления без подключения к интернету
- синхронизация
- Pro-версия, расширенные настройки...
</p></ul>

{% endblock %}