{% extends "base.html" %}

{% block content %}

<title>{{ title }}</title>

<!DOCTYPE html>
<html style="font-size: 16px;">

    <section class="u-align-center u-clearfix u-image u-shading u-section-4" src="" data-image-width="1920" data-image-height="1080" id="sec-deb0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-title u-text-1">О нас</h1>
        <p class="u-large-text u-text u-text-variant u-text-2"> Планер сбытий станет незаменимым помощником для пользователей любых возрастов и социальных статусов! От подростка-до пенсионера, от школьника – до директора, эта программа готова поддержать вас при самом напряженном распорядке дня.<br>
          <br>Незаменимое сочетание&nbsp; ежедневника, планировщика, блокнота делает планер уникальным и массово востребованным приложением. Вы можете составлять свои цели, планы, события и списки задач, используя этот простой и удобный органайзер, находя время на отдых и личную жизнь.<br>
          <br>Основные возможности приложения:<br>
          <br>- планирование задач на день<br>- составление списка дел на текущую неделю<br>- планирование повторяющихся задач<br>- заметки<br>-планирвание совместных событий<br>-создание групп людей
        </p>
      </div>
    </section>

  </body>
</html>
{% endblock %}