{% extends "base.html" %}

{% block content %}

<title>{{ title }}</title>
<ul>

  {% for i in object_list %}
    <h3>{{ i.title }}  </h3>
    {% if i.done == True %}
            <div><img src="/static/images/img_221824.png" width="50" height="50"></div>
    {% else %}
            <div><img  src="/static/images/lf.png" width="50" height="50"></div>
    {% endif %}
            <p>{{ i.date }}</p>
    {% if i.groups.title %}
        <p>Группы: </p>
        <b><p id="main">- {{ i.groups }}</p></b>
    {% endif %}
    {% if i.person %}
    <p>Участники: </p>
        <b><p id="main">- {{ i.person}}</p></b>
    {% endif %}

            <h5><a href='{% url "edit_event" i.pk %}'>Редактировать событие  |</a>
                <a href="{% url 'delete_event' i.pk %}">Удалить событие</a></h5>
<hr>
{% endfor %}
    </ul>

{% endblock %}