{% extends "base.html" %}

{% block content %}

<title>{{ title }}</title>
<h1>{{ title }}</h1>
<ul>



    <h3>{{ groups.title }}</h3>
            {% if groups.persons %}
    <p>Участники: </p>
        {% for j in groups.persons.all %}
    <p><a href="{% url 'profile_detail' j.pk %}">- {{ j.first_name}} {{ j.last_name}} ({{ j.username}})</a></p>
    {% endfor %}
    {% endif %}
    {% if groups.photo %}
    <div><p><img class="img-article-left thumb" src="{{ i.photo.url }}" width="50" height="50"  align="left" vspace="5" hspace="5"></p></div>
{% else %}
    <div><img src="/static/images/social-group.png" width="50" height="50"  align="left" vspace="5" hspace="5"></div>
{% endif %}

<hr>

    </ul>

{% endblock %}